body {
    background-image: url("https://wallpapercave.com/wp/ZQXE9wI.jpg");
}

h1 {
    font-family: all-round-gothic, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 85px;
    margin-top: 20px;
}

.header {
    background: rgb(255,255,255, 0.30);
    border-radius: 1rem;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.city {
    width: 150px;
    height: 40px;
    text-align: center;
    margin: auto;
    background: rgb(255,255,255);
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border: none;
    border-radius: 1rem;
}

.goBtn {
    height: 30px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0.60);
    font-family: all-round-gothic, sans-serif;
    color:grey;
    font-size: 15px;
    border: none;
    border-radius: 1rem;
}

.goBtn:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.10);
}


.city:hover {
    cursor:text;
}

.card-deck {
    display: none;
    /* Will be Display:Flex when search begins */
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space=evenly;
    /* width: 90%; */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
}

.card-today {
    /* display: none; */
    background: rgb(255,255,255);
    font-family: all-round-gothic, sans-serif;
    font-weight: 500;
    text-align: center;
    color: black;
    font-style: normal;
    border-radius: 1rem;
    margin: 10px 10px 10px 10px;
    width: 20%;
}

.card {
    /* display: none; */
    background: rgba(255,255,255, 0.45);
    font-family: all-round-gothic, sans-serif;
    font-weight: 500;
    text-align: center;
    color: white;
    font-style: normal;
    border-radius: 1rem;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-group {
    list-style: none;
    /* display: none */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

button {
    height: 30px;
    width: 80px;
    margin: 10px 5px 0px 5px;
    background: rgba(255, 255, 255, 0.25);
    font-family: all-round-gothic, sans-serif;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 1rem;
}

button:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.05);
}

.UVIndex {
    font-family: all-round-gothic, sans-serif;
    color: white;
    /* background-color: rgba(12, 168, 116, 0.75); */
    font-size: 15px;
    border: none;
    border-radius: 1rem;
    margin-top: 5px;
    width: 50%;
    margin-left: 25%;
}

.cityTitle {
    color: black;
    font-weight: 600;
    font-size: 25px;
}

/* Responsive Screen Sizing: */
@media only screen and (max-width: 530px) {
    h1 {
    font-size: 55px;
    }
}